CF_ACCOUNT_ID=c5d6cf110905c91fc3eed1abaf8236a2
RADAR_DESTINATION_CHAT_ID=-1004496469105
RADAR_DESTINATION_URL=https://t.me/RadarKhabarOnline
TELEGRAM_BOT_TOKEN=never-commit-this-value
RADAR_ADMIN_KEY=never-commit-this-value
RADAR_DASHBOARD_USERNAME=never-commit-this-value
RADAR_DASHBOARD_PASSWORD=never-commit-this-value
